<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>jlp0011.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>jlp0011.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllCakeController</servlet-name>
        <servlet-class>jlp0011.controller.ListAllCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllCategoryController</servlet-name>
        <servlet-class>jlp0011.controller.ListAllCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>jlp0011.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookController</servlet-name>
        <servlet-class>jlp0011.controller.LoginFacebookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCakeController</servlet-name>
        <servlet-class>jlp0011.controller.CreateCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategoryController</servlet-name>
        <servlet-class>jlp0011.controller.CreateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryController</servlet-name>
        <servlet-class>jlp0011.controller.UpdateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCategoryController</servlet-name>
        <servlet-class>jlp0011.controller.LoadCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCakeController</servlet-name>
        <servlet-class>jlp0011.controller.SearchCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCakeController</servlet-name>
        <servlet-class>jlp0011.controller.UpdateCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>jlp0011.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>jlp0011.controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartItemController</servlet-name>
        <servlet-class>jlp0011.controller.RemoveCartItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>jlp0011.controller.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>jlp0011.controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProccessPaymentController</servlet-name>
        <servlet-class>jlp0011.controller.ProccessPaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderController</servlet-name>
        <servlet-class>jlp0011.controller.SearchOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLogController</servlet-name>
        <servlet-class>jlp0011.controller.ListLogController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllCakeController</servlet-name>
        <url-pattern>/ListAllCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllCategoryController</servlet-name>
        <url-pattern>/ListAllCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFacebookController</servlet-name>
        <url-pattern>/LoginFacebookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCakeController</servlet-name>
        <url-pattern>/CreateCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategoryController</servlet-name>
        <url-pattern>/CreateCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryController</servlet-name>
        <url-pattern>/UpdateCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCategoryController</servlet-name>
        <url-pattern>/LoadCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCakeController</servlet-name>
        <url-pattern>/SearchCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCakeController</servlet-name>
        <url-pattern>/UpdateCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartItemController</servlet-name>
        <url-pattern>/RemoveCartItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProccessPaymentController</servlet-name>
        <url-pattern>/ProccessPaymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderController</servlet-name>
        <url-pattern>/SearchOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLogController</servlet-name>
        <url-pattern>/ListLogController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
